body
{
	background-color: #D7EDFE;
	font-family: Segoe TV;
	overflow: hidden;
	margin: 0px;
}

td
{
	font-family: Segoe TV;
}

a:visited
{
	color: #1D1D1D;
	text-decoration: none;
}

a:link
{
	color: #1D1D1D;
	text-decoration: none;
}

.groupLabel
{
	display: block;
	font-size: 18px;
	font-weight: bold;	
	color: #1D1D1D;
	width: 100%;
	height: 1px;
	padding-left: 15px;
	border-bottom:2px solid #57799E;
}

div.itemLabel table
{
	 width:100%;
	 border-bottom:2px solid #57799E;
}

div.playlistLabel table
{
	 width:100%;
	 border-bottom:2px solid #57799E;
}

.selected
{
	background-color:#A3E4EE;
}

.sideBarButton
{
	height: 26px;
	width: 100%;
	display: block;
	text-align:left;
	margin: 0px 0px 4px 0px;
	font-size:16px; 
}

.content
{
	behavior: url(#default#gradient);
	startColor: #D7EDFE;
	endcolor: #BDEAFF;
	angle: 0;
}

.promoQPCell {
	background-image: url(msntv:/Music/Images/MusicQuickPlayMusicVideos.jpg);
}

.quickPlayCell {
	vertical-align:top;
 }

.quickPlayTitle
{
	font-size: 24px;
	font-weight: bold;
	color: #A93D0D;
	text-align: right;
	padding: 15px 15px 5px 25px;
}
	
.quickPlaySubtitle
{
	font-size: 18px;
	color: #2C2B29;
	text-align: right;
	padding: 0px 15px 19px 25px;
	width: 320px;
	background-image: url(msntv:/Music/Images/MusicQuickPlayMusicVideos.jpg);
	background-position: -240px -45px;
}
	
.quickPlayLink
{
	font-size: 18px;
	color: #061537;
	text-align: right;
	vertical-align: top;
	padding: 9px 15px 0px 25px;
}

.promoCell {
	vertical-align: top;
	overflow: hidden;
}

.promoHeading
{
	font-size: 18px;
	font-weight: bold;
	color: #EFEFEF;
	text-align: left;
	width:100%;
	height:25px;
	line-height:19px;
}
	
.promoText
{
	font-size: 17px;
	font-weight: normal;
	color: #223764;
	text-align: left;
	line-height:18px;
}

.promoNextButton
{
	width: 20px;
	height: 20px;
	margin-right: 3px;
	display: inline-block;
	behavior: url(#default#alphaImageLoader);
	src: url(./Images/NextBtn.png);
}

.promoNextButtonLabel
{
	display: inline-block;
	font-size: 14px;
	color: #061537;
	padding-bottom: 2px;
}

.nowPlayingCell
{
	background-image: url(msntv:/Music/Images/MusicHPNowPlaying.jpg);
}

.toolbarCell 
{
	behavior: url(msntv:/htc/StretchyBackground.htc);
}

.controlButton {
	width:39px; 
	height:46px;
	margin: 15px 0px 6px 0px;
}

.controlButtonAnchor {
	position:relative; 
	top:6px; 
	height:43px; 
	width:39px;
}

.folderName
{
	font-size: 18px;
	color: #14224B;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.itemIndex
{
	font-size: 16px;
	color: #4E7C84;
	display: inline-block;
}

.songListInstructions
{
	font-size: 17px;
	color: #2C2B29;
	padding: 15px 20px 15px 15px;
}

.songListCount
{
	font-size: 16px;
	color: #232323;
	padding: 0px 0px 4px 15px;
	text-align: left;
}

.toggleButton
{
	font-size: 16px;
	color: #1D1D1D;
	padding-left: 6px;
	text-align: left;
	vertical-align: middle;
}	

#header
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

#headerTitle
{
	position: absolute;
	top: 27px;
	left: 15px;
	width: 400px;
	color: #C4C2C4;
	font: 21px bold;
}

#headerSubTitle
{
	position: absolute;
	top: 27px;
	left: 90px;
	width: 400px;
	color: #F3F3F3;
	font: 21px bold;
}

#settings
{
	position: absolute;
	bottom: 30px;
	right: 88px;
	color: #001B4D;
	font-size: 18px;
	text-align: right;
}

#help
{
	position: absolute;
	bottom: 30px;
	right: 8px;
	color: #001B4D;
	font-size: 18px;
	text-align: right;
}

#helpIcon
{
	position: relative;
	top: 1px;
	left: 4px;
	margin-left: 4px;
	behavior: url(#default#alphaImageLoader);
	src: url(msntv:/Shared/images/Icon_Help_RelatedLink.png);
	width: 20px;
	height: 20px;
}

#scrollFrame
{
	overflow-y: hidden;
	width: 100%;
	height: 100%;
	margin: 0px;
	border: none;
}
	
#quickPlayDiv
{
	width: 100%;
	height: 100%; 
	overflow: hidden;
}

#startofframe
{
	border-bottom:2px solid #57799E;
	width: 100%;
	height: 2px;
	padding-left: 15px;
	margin-right: 22px;

}

#nowPlayingHeader
{
	font-size: 18px;
	color: #333333;
	height: 23px;
	padding-top: 4px;
	overflow: hidden;
}

#nowPlayingArtist
{
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

#nowPlayingTitle
{
	font-size: 18px;
	color: #333333;
}

#mediaTitleDiv
{
	width: 100%;
	height: 20px;
	padding-left: 15px;
	border-bottom:2px solid #57799E;
}

.mediaTitleText
{
	font-size: 18px;
	font-weight:bold;	
	color: #1d1d1d;
}

#selectedCountField
{
	height: 34px;
	margin-left: 15px;
}

.countText
{
	font-size: 16px;
	color: #1d1d1d;
}

.warningCellText
{
	font-size: 18px;
	color: #1d1d1d;
	padding-top: 5px;
}

#mediaItemText
{
	font-size: 18px;
	color: #14224B;
}


.normalTopFolder
{
	font-style: normal;
	font-family: segoe tv;
	font-size: 18px;
	color: #14224B;
}

.selectedTopFolder
{
	font-style: normal;
	font-family: segoe tv;
	font-size: 18px;
	color: #1d1d1d;
	background-color: #89D3DE;
	border: 1px solid #1B7A8B;
}

#topLevelViewBy
{
	margin-left: 15px;
	height: 24px;
}

#topLevelFolderDiv
{
	margin-top: 10px;
	margin-left: 9px;
	height: 24px;
}

.viewerTitleText
{
	font-family: Segoe TV;
	font-size: 18px;
	color: #1d1d1d;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

