body
{
	background-color: #C2E4FC;
	font-family: Segoe TV;
	overflow: hidden;
	margin: 0px;
	font-size: 18px;
	color: #07214D;
}

td
{
	font-family: Segoe TV;
	font-size: 18px;
	color: #07214D;
}

a:visited
{
	color: #14224B;
	text-decoration: none;
}

a:link
{
	color: #14224B;
	text-decoration: none;
}

.headingLabel
{
	background-color:#82BAF4;
	display:block;
	font-size:18px;
	font-weight:bold;
	color:#6A5422;
	padding:2px 0px 2px 10px;
	margin:2px;
}

.groupLabel
{
	border-bottom:2px solid #422F2E;
	display:block;
	font-size: 18px;
	font-weight:bold;	
	color: #8E8888;
	width: 100%;
	height: 24px;
	padding-left: 15px;
}

.folderLabel
{
	padding:15px 0 0 15px;
	font-size: 18px;
}

div.itemLabel table
{
	 width:100%;
	border-bottom:2px solid #422F2E;
}

div.playlistLabel table
{
	 width:100%;
	border-bottom:2px solid #422F2E;
}

.selected
{
	background-color:#1d1d1d;
}

.description
{
	width: 100%;
}

.sectionTitle
{
	color:#1159B3;
	padding-bottom: 5px;
	display: block;
}

.sideBarButton
{
	height: 26px;
	width: 100%;
	display: block;
	text-align:left;
	margin: 0px 4px 4px 0px;
	font-size:16px; 	
}

.content
{
	behavior: url(#default#gradient);
	startColor:#320202;
	endcolor: #0F0101;
	angle:0;
}

#header
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 56px;
	width: 100%;
}

#headerTitle
{
	position: absolute;
	top: 27px;
	left: 15px;
	width: 400px;
	color: #FFB6B6;
	font: 21px bold;
}

#headerSubTitle
{
	position: absolute;
	top: 27px;
	left: 90px;
	width: 400px;
	color: #F3F3F3;
	font: 21px bold;
}

#subTitle
{
	color: #07214D;
	font-size: 18px;
	white-space: nowrap;
	margin-bottom: 10px;
}

#signIn
{
	position: absolute;
	bottom: 30px;
	right: 88px;
	color: #F2F2F2;
	font-size: 18px;
	text-align: right;
}

#help
{
	position: absolute;
	bottom: 30px;
	right: 8px;
	color: #F2F2F2;
	font-size: 18px;
	text-align: right;
}

#helpIcon
{
	position: relative;
	top: 1px;
	left: 4px;
	margin-left: 4px;
	behavior: url(#default#alphaImageLoader);
	src: url(msntv:/Shared/images/Icon_Help_RelatedLink.png);
	width: 20px;
	height: 20px;
}

#scrollFrame
{
	overflow-y: hidden;
	width:100%;
	height:100%;
	border: none;
}
	
#scrollArea
{
	position: absolute;
	top: 71px;
	left: 0px;
	width: 74%;
	bottom: 0px;
	padding-left: 20px;
	padding-right: 10px;
	overflow-y: hidden;
	behavior: url(msntv:/HTC/ScrollingDIV.htc) url(#default#gradient);
	startColor:#C2E4FC;
	endcolor: #85D2F5;
	angle:0;
}
		
.folderName
{
	font-size: 18px;
	color: #C8C3C3;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#startofframe
{
	border-bottom:2px solid #422F2E;
	width: 100%;
	height: 2px;
	padding-left: 15px;
	margin-right: 22px;

}

#mediaTitleDiv
{
	width: 100%;
	height: 20px;
	padding-left: 15px;
	border-bottom:2px solid #422F2E;
}

.mediaTitleText
{
	font-size: 18px;
	font-weight:bold;	
	color: #8E8888;
}

.viewerTitleText
{
	font-family: Segoe TV;
	font-size: 18px;
	color: #EBB206;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


#selectedCountField
{
	height: 34px;
	margin-left: 15px;
}


.countText
{
	font-size: 16px;
	color: #C8C3C3;
}

.warningCellText
{
	font-size: 18px;
	color: #C8C3C3;
	padding-top: 5px;
}

#mediaItemText
{
	font-size: 18px;
	color: #C8C3C3;
}


.normalTopFolder
{
	font-style: normal;
	font-family: segoe tv;
	font-size: 18px;
	color: #EDECEA;
}

.selectedTopFolder
{
	font-style: normal;
	font-family: segoe tv;
	font-size: 18px;
	color: #EDECEA;
	background-color: #253C41;
	border: 1px solid #765D5C;
}

#topLevelViewBy
{
	margin-left: 15px;
	height: 24px;
}

#topLevelFolderDiv
{
	margin-top: 10px;
	margin-left: 9px;
	height: 24px;
}

